---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ayane-utau-site
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: ayane-utau-site
  replicas: 3
  template:
    metadata:
      labels:
        app: ayane-utau-site
    spec:
      imagePullSecrets:
        - name: internal-harbor
      containers:
        - name: app
          image: registry.uniproject.jp/ayane/ayane-utau-site:0.1.4
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: default-port
